body
{
    background-color: rgb(255, 255, 255);
}
.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1735bb;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 5px rgb(202, 146, 61);
    text-align: center;
    color: azure;
}
#table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    background-color: #96d499;
  }
  
  #a1
  {
    border:2px solid black;
    bottom: auto;

  }